---
interface Props {
  reversed?: boolean;
  imageSrc: string;
  altText: string;
  title: string;
  bodyText: string;
  additionalHtml?: string;
}

const {
  reversed = false,
  imageSrc,
  altText,
  title,
  bodyText,
  additionalHtml,
} = Astro.props;

const order = reversed ? "md:order-last" : "";
---

<div class="grid grid-cols-1 items-center gap-x-8 gap-y-4 md:grid-cols-2">
  {/* Text div */}
  <div class={`${order} flex flex-col space-y-2 items-center md:items-start`}>
    <h2 class="w-full text-4xl font-bold md:text-6xl">
      {title}
    </h2>
    <p>{bodyText}</p>
    <Fragment set:html={additionalHtml} />
  </div>
  {/* Image div */}
  <div>
    <img src={imageSrc} alt={altText} class="rounded-md object-cover" />
  </div>
</div>
